<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1>Contact Us</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('index') }}" class="button">Home</a></li>
                    <li><a href="{{ url_for('add_species') }}" class="button">Add Species</a></li>
                    <li><a href="{{ url_for('species_list_page') }}" class="button">Species List</a></li>
                    <li><a href="{{ url_for('about') }}" class="button">About Us</a></li>
                    <li><a href="{{ url_for('contact') }}" class="button">Contact</a></li>
                    <li><a href="{{ url_for('donate') }}" class="button">Donate</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <p>For inquiries, please contact us at: <a href="cyndoli34@gmail.com">info@wildlifeconservation.org</a></p>
    </div>
</body>
</html>
